.new-secret-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  font-size: 24px;
  margin-bottom: 16px;
  color: #4B2E0F;
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 18px;
  margin: 10px 0;
  color: #4B2E0F;
}

input {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #8B4513;
  border-radius: 4px;
  background-color: #F5DEB3;
  font-family: 'Courier New', Courier, monospace;
  width: 100%; /* Input alanları aynı genişlikte olur */
  box-sizing: border-box; /* İç boşluklar genişliği etkilemez */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #D2B48C;
  color: #3B2F1E;
  border: 1px solid #8B4513;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #C0A080;
  transform: scale(1.05);
}
